<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example: Non Trovato</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a> <button id="theme-toggle" title="Cambia tema"><span id="theme-icon">🌙</span></button></h2>
      <p>Spiacenti, non siamo riusciti a trovare questa pagina! Dai un'occhiata alla <a href="./">pagina principale</a>?</p>
{{ template "footer" }}
    </div>
    <script src="site.js" async></script>
  </body>
</html>
