<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go by Example</a> <button id="theme-toggle" title="Cambia tema"><span id="theme-icon">🌙</span></button></h2>
      <p>
        <a href="https://go.dev">Go</a> è un
        linguaggio di programmazione open source progettato per
        costruire software scalabile, sicuro e affidabile.
        Ti invitiamo a leggere la
        <a href="https://go.dev/doc/tutorial/getting-started">documentazione ufficiale</a>
        per saperne di più.
      </p>

      <p>
        <em>Go by Example</em> è un'introduzione pratica
        a Go tramite programmi di esempio annotati. Dai un'occhiata al
        <a href="hello-world">primo esempio</a> o
        sfoglia l'elenco completo qui sotto.
      </p>

      <p>
        Salvo diversa indicazione, gli esempi qui presenti assumono l'utilizzo dell'
        <a href="https://go.dev/doc/devel/release">ultima release principale di Go</a>
        e potrebbero utilizzare nuove funzionalità del linguaggio. Prova ad aggiornare alla versione
        più recente se qualcosa non funziona.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
    <script src="site.js" async></script>
  </body>
</html>
